#1{
    background-color: blueviolet;
    text-align: center
    border-style: hidden;
}
#2{
    background-color: rgb(210, 216, 131);
    text-align: center
}
#3{
    background-color: rgb(64, 145, 64);
    text-align: center
}
#4{
    background-color: aqua;
    text-align: center
}
#5{
    background-color: pink;
    text-align: center
}
table{
    border: 1px solid black;
}